@model HomeVM
<section id="slider">
    <div class="two-side-wrapper">
        <div class="slider-left-side-wrapper">
            <div class="left-side">
                <div class="owl-carousel owl-theme">
                    @for (int i = 0; i < Model.sliders.Count(); i++)
                    {
        <div class="slider-item" data-id="@(i+1)" style="background-image: url(img/@Model.sliders.ElementAt(i).ImageUrl);">
            <div class="content">
                <h1><span>@Model.sliders.ElementAt(i).Header_First_Word</span> @Model.sliders.ElementAt(i).Header_Second_Word</h1>
                @Html.Raw(Model.sliders.ElementAt(i).Content)
            </div>
        </div>}
                </div>
            </div>
        </div>
        <div class="slider-right-side-aside">
            @for (int i = 0; i < Model.sliders.Count(); i++)
            {
<div class="right-side-item" data-id="@(i+1)">
    <img src="img/@Model.sliders.ElementAt(i).Aside_ImageUrl" alt="">
    <p>@Model.sliders.ElementAt(i).Aside_Header</p>
</div>            }
        </div>
    </div>
</section>

<section id="advantages">
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.advantages.Count(); i++)
            {
                <div class="col-6 @(i > 1 ? "mt-3 mt-md-0" : "") col-md-3">
                    <div class="item">
                        <div class="icon-wrapper @(i == 0 ? "orange" : "") @(i == 1 ? "purple" : "") @(i == 2 ? "midnight" : "") @(i == 3 ? "pink" : "")">
                            <img src="~/img/@Model.advantages.ElementAt(i).IconUrl" />
                        </div>
                        <h4>@Model.advantages.ElementAt(i).Content</h4>
                    </div>
                </div>            
            }
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row heading">
            <div class="col-12 text-center">
                <h1>Xidmətlərimiz</h1>
            </div>
        </div>
    </div>
    <div class="circle--slider">
        <div class="rotate--circle">
            <ul class="circle--rotate" id="circle--rotate">
                @foreach (var service in Model.services)
                {
                    <li class="block">
                        <div class="icon"><img src="~/img/@service.CategoryIconUrl" /></div>
                    </li>
                }
            </ul>
            <div class="animate-wrapper">
                @foreach (var service in Model.services)
                {
                    <div class="animate">
                        <a asp-controller="Services" asp-action="Index" class="animate-img">
                            <div class="animate-img__in" data-image="img/@service.CategoryImageUrl">
                                <div class="animate-more">
                                    <div class="animate-title">
                                        <h4>@service.CategoryName</h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                
            </div>
            <div class="prev"><span>PREV</span></div>
            <div class="next"><span>NEXT</span></div>
        </div>
    </div>

</section>

<section id="portfolio">
    <div class="container">
        <div class="row heading">
            <div class="col-12 text-center">
                <h1>Son işlərimiz</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-sm-6 p-0">
                <div class="row m-0">
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="@(i == 0 ? "col-12" : "col-6") p-0">
                            <a href="">
                                <div class="@(i == 0 ? "large-item" : "small-item") item">
                                    <div class="image-wrapper">
                                        <img src="img/@Model.projects.ElementAtOrDefault(i).Home_ImageUrl" alt="">
                                    </div>
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-arrow-right"></i>
                                        </div>
                                        <div class="name">
                                            @Model.projects.ElementAtOrDefault(i).Name
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-6 p-0">
                <div class="row m-0">
                    @for (int i = 3; i < Model.projects.Count(); i++)
                    {
                        <div class="@(i == Model.projects.Count()-1 ? "col-12" : "col-6") p-0">
                            <a href="">
                                <div class="@(i == Model.projects.Count()-1 ? "large-item" : "small-item") item">
                                    <div class="image-wrapper">
                                        <img src="img/@Model.projects.ElementAtOrDefault(i).Home_ImageUrl" alt="">
                                    </div>
                                    <div class="content">
                                        <div class="icon">
                                            <i class="fas fa-arrow-right"></i>
                                        </div>
                                        <div class="name">
                                            @Model.projects.ElementAtOrDefault(i).Name
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</section>

<section id="get-price-offer">
    <div class="container">
        <div class="row heading">
            <div class="col-12 text-center">
                <h1>Qiymət təklifi al</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post">
                    <div class="col-12 validation-div"></div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        <input asp-for="offer.Fullname" placeholder="Adınız, Soyadınız">
                    </div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        <input asp-for="offer.PhoneNumber" placeholder="Əlaqə nömrəniz">
                    </div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        <input asp-for="offer.Email" placeholder="E-mailiniz">
                    </div>
                    <div class="col-md-12 mt-3">
                        <textarea asp-for="offer.Message" placeholder="Mesajınız"></textarea>
                    </div>
                    <div class="col-12 text-right mt-3">
                        @*<a href="" id="get-price-offer-submit">GONDER</a>*@
                        <input type="submit" id="get-price-offer-submit" value="Sorğu göndər">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>