@model ServiceVM
<section id="breadcrumb">
    <div class="page-name-wrapper" style="background-image: url(img/contact-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-name">
                        <h1>Xidmətlər</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="d-flex justify-content-center">
                        <li class="slash">
                            <a href="">Ana səhifə</a>
                        </li>
                        <li>
                            Xidmətlər
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services-page">
    <div class="container position-relative service-container">
        <div class="row category-names">
            <ul>
                @for (int i = 0; i < Model.serviceCategories.Count(); i++)
                {
                    <li><a href="#" class="@((i==0)?"is-checked":null)" data-id="@Model.serviceCategories.ElementAt(i).Id">@Model.serviceCategories.ElementAt(i).Name</a></li>
                }
            </ul>
        </div>
        @for (int i = 0; i < Model.services.Count(); i++)
        {
            <div class="row category-content @((i==0)?"active":null)" data-id="@Model.services.ElementAt(i).ServiceCategoryId">
                <div class="col-lg-1 col-md-2 col-3 pr-lg-0">
                    <button class="previous control-button mb-2">
                        <i class="fas fa-chevron-up"></i>
                    </button>
                    <div class="gallery-wrapper">
                        <div class="gallery">
                            @for (int z = 0; z < Model.services.ElementAt(i).Images.Count(); z++)
                            {
                                <div class="gallery-item @((z==1)?"active":null)" data-id="@z">
                                    <img src="img/@Model.services.ElementAt(i).Images.ElementAt(z).ImageUrl" alt="">
                                </div>
                            }

                        </div>
                    </div>
                    <button class="next control-button mt-2 ">
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </div>
                <div class="col-lg-6 col-md-10 col-9 pr-lg-0">
                    <div class="main-image">
                        @for (int j = 0; j < Model.services.ElementAt(i).Images.Count(); j++)
                        {
                            <img src="img/@Model.services.ElementAt(i).Images.ElementAt(j).ImageUrl" class="@((j==1)?"active":null)" alt="">
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-12 offset-lg-1 mt-3 mt-md-5 mt-lg-0">
                    <div class="content">
                        <h1>@Model.services.ElementAt(i).Heading</h1>
                        <p>@Model.services.ElementAt(i).Content</p>
                        <a href="">Lorem ipsum dolor sit</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>