@model IEnumerable<ProjectCategory>
<section id="categories_admin">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <a class="btn bg-secondary btn-secondary text-white d-block mb-3" asp-action="CategoryCreate">Kateqoriya əlavə et</a>
                <div class="table-responsive">
                    <table class="table table-dark table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Adı</th>
                                <th scope="col">IsImage</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <th scope="row">@category.Id</th>
                                    <td>@category.Name</td>
                                    <td>@(category.IsImage ? "Aktiv" : "Deaktiv" )</td>
                                    <td>@(category.Status ? "Aktiv" : "Deaktiv" )</td>
                                    <td class="text-right"><a class="btn bg-warning btn-warning text-white" asp-action="CategoryUpdate" asp-route-id="@category.Id">Redaktə et</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>