@model PortfolioVM
@{
    ViewBag.Title = "Portfolio";
    ViewBag.MetaDescription = "Hansı işləri gördüyümüzə nəzər yetirin.";
}

@await Html.PartialAsync("_BreadCrumbPartialView")

<section id="portfolio-page">
    <div class="container">
        <div class="row category-names">
            <ul>
                <li><a href="#" class="is-checked" data-filter="*" data-route-name="">All</a></li>
                @foreach (var category in Model.projectCategories)
                {
                    <li><a href="#" data-filter=".category-@category.Id" data-route-name="@category.RouteName">@category.Name</a></li>
                }
            </ul>
        </div>
        <div class="row filtered-items">
            @foreach (var project in Model.projects)
            {
                <div class="col-sm-6 col-lg-4 filter-item category-@project.ProjectCategoryId" data-category="category-@project.ProjectCategoryId" data-route-name="@project.ProjectCategory.RouteName">
                    <div class="item">
                        <a target="_blank" @(project.ProjectCategory.IsImage ? $"href=img/{project.ImageUrl} data-fancybox=portfolioPagePortfolioGallery data-caption={project.Name}" : $"href={project.Url}")>
                            <div class="image-wrapper">
                                <img src="img/@project.ImageUrl" alt="@project.Name">
                            </div>
                            <div class="content">
                                <div class="text-wrapper">
                                    <h1>@project.Name</h1>
                                    <p>Daha ətraflı</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>