
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>EGmedia - Admin</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/lib/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/css/owl.theme.default.min.css">

    <!-- Font awasome -->
    <script src="https://kit.fontawesome.com/73bdb97465.js" crossorigin="anonymous"></script>

    <!-- TT Firs font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,600&display=swap"
          rel="stylesheet">

    <!-- CSS Files -->
    <link href="~/admin/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/admin/css/demo.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="/img/sidebar-5.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a asp-area="egmedia_admin" asp-controller="dashboard" asp-action="index" class="simple-text">
                        <img src="~/img/logo.png" class="img-fluid"/>
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Dashboard" ? "active" : "")">
                        <a class="nav-link" asp-area="egmedia_admin" asp-controller="dashboard" asp-action="index">
                            <p>Ana səhİfə</p>
                        </a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "slider" ? "active" : "")">
                        <a class="nav-link" asp-area="egmedia_admin" asp-controller="slider" asp-action="index">
                            <p>Slayder</p>
                        </a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "about" ? "active" : "")">
                        <a class="nav-link" asp-area="egmedia_admin" asp-controller="about" asp-action="index">
                            <p>Haqqımızda</p>
                        </a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "advantages" ? "active" : "")">
                        <a class="nav-link" asp-area="egmedia_admin" asp-controller="advantages" asp-action="index">
                            <p>Üstünlüklər</p>
                        </a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "services" ? "active" : "")">
                        <a class="nav-link" asp-area="egmedia_admin" asp-controller="services" asp-action="index">
                            <p>Xİdmətlər</p>
                        </a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "portfolio" ? "active" : "")">
                        <a class="nav-link" asp-area="egmedia_admin" asp-controller="portfolio" asp-action="index">
                            <p>Portfolİo</p>
                        </a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "contact" ? "active" : "")">
                        <a class="nav-link" asp-area="egmedia_admin" asp-controller="contact" asp-action="index">
                            <p>Əlaqə formu mesajları</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="login" asp-action="logout"> Çıxış </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                </div>
            </nav>
            <!-- End Navbar -->
            @RenderBody()

        </div>
    </div>
    <script src="~/lib/js/jquery-3.2.1.min.js"></script>
    <script src="~/lib/js/popper.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/admin/js/light-bootstrap-dashboard.js" type="text/javascript"></script>
    <!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/admin/js/demo.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
